.w-full {
  width: 100%;
}

.min-w-300 {
  min-width: 300px;
}

.container {
  width: 80%;
  margin: 1.5rem auto;
}
.euiPageContent.euiPageContent--horizontalCenter {
  width: 100% !important;
}

.h-full {
  height: 100% !important;
}
.euiFilePicker--large .euiFilePicker__prompt,
.euiFilePicker__wrap {
  height: 100% !important;
}
.stat-name {
  font-weight: normal;
  font-size: 1.5rem;
  color: #0092cb;
}
.stat-percentage {
  font-size: 2.5rem;
  color: #c90f96;
}
.euiSuperDatePicker__flexWrapper {
  width: 500px !important;
}
.max-550 {
  max-height: 550px;
  overflow: auto;
}

/* $aivid-blue: #0092cb;
$aivid-pink: #c90f96;
$aivid-voilet: #4a338e; */
